<header class='py-4'>
  <div class='container mx-auto'>
    <div class='flex flex-col justify-between'>
      <a href="/">
        <h1 class='text-5xl mt-10 text-center font-title'>Typed Thoughts</h1>
        <ul class='flex justify-center py-6 items-center space-x-5 font-bold tracking-wide'>
          <li><a class='link-hover' href='/'>Home</a></li>
          <li><a class='link-hover' href='/about'>About</a></li>
          <li><a class='link-hover' href='/contact'>Contact</a></li>
          <li><a class='link-hover' href='/cv'>CV</a></li>
        </ul>
      </a>
    </div>
  </div>
</header>