<!--
  ADD TO CONFIG.YML:
  - lang
  - title
  - check for logo
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Typed Thoughts</title>
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  </head>
  <body class='bg-orange-50 text-slate-700'>
    {% include header.html %}

    <main class='pt-10 min-h-screen'>
      <div class='container mx-auto'>
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>